* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


.body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(2, minmax(100px, 1fr));
  background-color: black;
  gap: 10px;
  color: #444;
  margin: 25px;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  background-color: black;
  grid-auto-flow: column;
  gap: 10px;
  color: #444;
  margin: 25px;
}

.box {
  background-color: #444;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box2 {
  background-color: #e7e4e4e7;
  color: #080808d7;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.wrapper .e {
  grid-row: 1/3;
  grid-column: 1;

}

.wrapper .a {
  grid-row: 1;
  grid-column: 2 / 4;
}

.wrapper .c {
  grid-row: 2;
  grid-column: 2;
}

.wrapper .d {
  grid-row: 2;
  grid-column: 3;
}

.wrapper .b {
  grid-row: 1/3;
  grid-column: 4;
}


.wrapper3 {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  background-color: black;
  grid-auto-flow: row;
  gap: 10px;
  color: #444;
  margin: 25px;

}

.wrapper3 .a {
  grid-row: 1/2;
  grid-column: 1/3;
}

.wrapper3 .b {
  grid-row: 1/2;
  grid-column: 3/5;
}

.wrapper3 .c {
  grid-row: 2/4;
  grid-column: 1/3;
}

.wrapper3 .d {
  display: grid;
  grid-row: 2/4;
  grid-column: 3/5;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.wrapper3 .d .box {
  background-color: aliceblue;
  color: black;
}

.box .e {
  grid-row: 1/2;
  grid-column: 1/3;
}