* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
  background-color: rgba(156, 229, 156, 0.473);
  color:  white;
  border: none;
}

button:hover{
  background-color: rgba(155, 219, 176, 0.712);
}

textarea, input, button {
  margin: 18px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ccc;

}   