* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

button {
  font-size: 4vw;
  /* vw: relativo al ancho del viewport */
  padding: 10px 20px;
  background: #ff69b4;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}