* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #222;
  line-height: 1.6;
  overflow-x: hidden;
}

/* PARALLAX */
.parallax {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-size: cover;
  background-position: center;
}

.parallax--front {
   background-image: url("../images/background.jpg"); 
  background-image: image-set(
    url("../images/background.webp") type("image/webp"),
    url("../images/background.jpg") type("image/jpeg")
  );
}

.parallax--back {
   background-image: url("../images/backgroundback.jpg"); 
  background-image: image-set(
    url("../images/backgroundback.webp") type("image/webp"),
    url("../images/background.jpg") type("image/jpeg")
  );
}

/* GRID HEADER */
.grid-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background: #357e4591;
  padding: 1rem 2rem;
  backdrop-filter: blur(5px);
}

/* GRID BODY */
.grid-body {
  display: grid;
  grid-template-columns: 2.1fr 1.9fr;
  gap: 1.5rem;
  padding: 2rem;
  align-items: start;
}

.grid-body--back {
  grid-template-columns: 250px 1fr;
}

/* FOOTER */
.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 1rem;
}

/* ...*/
/* #carrouselr {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
} */

/* .carrousel {
  flex: 0 0 auto;
} */

#carrouselr-container {

  width: 90%;
  max-width: 120em;
  background: #3f4141;
  box-shadow: 5px 5px 8px gray inset;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

#carrouselr-container .btn {
  position: absolute;
  top: calc(50% - 10px);
  height: 30px;
  width: 30px;
  border-left: 8px solid red;
  border-top: 8px solid red;
  cursor: pointer;
  z-index: 50;
  background: rgba(0,0,0,0.4);
  pointer-events: auto;
}

#carrouselr-container .btn:hover {
  transform: scale(1.2);
}

#carrouselr-container .btn.inactive {
  border-color: rgb(153, 121, 126);
}

#carrouselr-container .btn:first-of-type {
    left: 10px;
  transform: translateY(-50%) rotate(-45deg);
}

#carrouselr-container .btn:last-of-type {
   right: 10px;
  transform: translateY(-50%) rotate(135deg);
}

#carrouselr-container #carrouselr {
  display: flex;
  width: 300%;
  height: 100%;
  transition: margin-left 0.5s ease;
}

#carrouselr-container #carrouselr .carrousel {
  height: 90%;
  margin: auto 10px;
  background-color: #c6c6c6;
  box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
  display: grid;
  place-items: center;

}

#carrouselr-container #carrouselr .carrousel span {
  color: white;
  font-size: 150px;
}

#carrouselr-container #carrouselr .carrousel__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Importante */
  border-radius: 0.5rem;
}

/* CARD BASE */
/* ------------------ */
#carrouselr-container #carrouselr .card {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  border-radius: 12px;
  text-decoration: none;
}

/* Imagen */
#carrouselr-container #carrouselr .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .4s ease;
}

/* Overlay */
#carrouselr-container #carrouselr .card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  color: white;
  opacity: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: opacity .4s ease;
}

#carrouselr-container #carrouselr .card .title {
  font-family: 'Bebas Neue', sans-serif;
  /* Fuente similar a Netflix */
  font-size: 2rem;
  margin: 0;
}

#carrouselr-container #carrouselr .card .desc {
  font-size: 1rem;
  opacity: .8;
  margin: 5px 0 0;
}

/* Hover Effects */
#carrouselr-container #carrouselr .card:hover img {
  transform: scale(1.15);
}

#carrouselr-container #carrouselr .card:hover .overlay {
  opacity: 1;
}

@media (min-width: 980px)  {
  #carrouselr-container {
    overflow: hidden;
  }
}

/* -------------------------- */
:root {
  --color-bg: #ffffff;
  --color-primary: #0077ff;
  --color-secondary: #222222;
  --color-muted: #777777;
  --border-radius: 0.6rem;
}

/* -------------------------- */
/* П Bloque principal */
/* -------------------------- */
.comments {
  padding: 2rem;
  max-width: 100%;
  max-height: 75vh;
  overflow-y: auto;
  margin: 0;
  scroll-behavior: smooth;
}

/* T铆tulo */
.comments__title {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Formulario */
.comments__form {
  /* display: flex; */
  position: sticky;
  top: 0;
  /* background: var(--color-bg); */
  z-index: 1;
  padding-bottom: 1rem;
  /* background-color: #c6c6c6; */

  background: rgba(177, 177, 240, 0.836);
  color: white;
  /* flex-direction: column;
  gap: 1rem; */
}

/* Textarea */
.comments__textarea {
  width: 100%;
  min-height: 120px;
  padding: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-muted);
  resize: vertical;
  font-size: 1rem;
}

/* Emoji Picker */
.comments__emojiPicker {
  position: relative;
}

.comments__emojiBtn {
  background: var(--color-primary);
  border: none;
  padding: 0.6rem 1rem;
  color: #fff;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1.3rem;
}

.comments__emojiBtn:hover,
.comments__emojiItem:hover {
  transform: scale(1.1);
}

.comments__emojiList {
  position: absolute;
  top: 2.8rem;
  display: flex;
  gap: 0.5rem;
  background: var(--color-bg);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-muted);
}

.comments__emojiItem {
  background: transparent;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}

/* Bot贸n enviar */
.comments__submit {
  background: rgb(0, 0, 255);
  color: rgb(255, 255, 2);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background 0.3s;
}

.comments__submit:hover {
  background: #005fd1;
}

/* Contador */
.comments__counter {
  font-size: 0.9rem;
  color: var(--color-muted);
}

/* Lista */
.comments__list {
  padding: 0;
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comments__item {
  background: #f8f8f8;
  padding: 1rem;
  border-radius: var(--border-radius);
  animation: fadeIn 0.35s ease;
}

.main__carousel {
  min-height: 75vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header__nav a {
  margin-left: 1rem;
  text-decoration: none;    
  cursor: pointer;
}

.header__nav a:hover {
  color: rgba(14, 230, 111, 0.849);
}

/* ACCORDION */
.accordion {
  width: 100%;
  text-align: left;
  background: #ddd;
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.accordion:hover {
  background: #bbb;
}

.panel {
  display: none;
  padding: 1rem;
  background: #f1f1f1;
}

/* TABS */
.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tab {
  padding: 0.5rem 1rem;
  border: none;
  background: #ddd;
  cursor: pointer;
}

.tab.active {
  background: #333;
  color: #fff;
}

.tab__content {
  display: none;
  animation: fadeIn 0.5s ease;
}

.tab__content.active {
  display: block;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .grid-body,
  .grid-body--back {
    grid-template-columns: 1fr;
  }

  .grid-header {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (max-width: 48rem) {
  .grid-body {
    grid-template-columns: 1fr;
  }

  .comments {
    max-height: none;
    overflow-y: visible;
  }
}

.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: grid;
  place-items: center;
  z-index: 999;
}

.lightbox[hidden] {
  display: none;
}

.lightbox__img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.lightbox__close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

.lightbox__content {
  background: #fff;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  position: relative;
  border-radius: 8px;
  text-align: center;
}

.lightbox__content picture img {
  max-width: 100%;
  height: auto;
  margin: 15px 0;
}


/* ----------------------------------------- */
/*  Landing sections */
/* ----------------------------------------- */
.tab__content--landing {
  padding: 0;
}

/* Secci贸n base */
.landing__section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

/* Contenido */
.landing__content {
  max-width: 600px;
  background: rgba(0, 0, 0, 0.55);
  padding: 25px;
  border-radius: 6px;
}

.landing__content h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.landing__content p {
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Secci贸n 1 */
.landing__section--one {
  background-image: url("/images/escaners-ip.JPG");
}

/* Secci贸n 2 */
.landing__section--two {
  background-image: url("/images/handHeld-ip.JPG");
}

.footer__social a {
  margin-left: 1rem;
  color: white;
  font-size: smaller;
    cursor: pointer;
   border-radius: 30px;
  transition: all 0.3s ease;
}

.footer__social a:hover {
    background-color: white;
     transform: scale(3.05) rotate(95deg);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

