* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul li {
      padding: 8px;
      margin: 4px;
      list-style: none;
    }
    p {
      font-size: 18px;
    }
    button {
      margin: 6px;
      padding: 8px 12px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      background-color: #2196f3;
      color: white;
      font-size: 16px;
    }