* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.filter {
  filter: hue-rotate(50deg);
}

.img1 {
  filter: blur(5px);
}

.img2 {
  filter: brightness(0.4);
}

.img3 {
  filter: contrast(200%);
}

.img4 {
  filter: drop-shadow(16px 16px 20px blue);
}

.img5 {
  filter: grayscale(50%);
}

.img6 {
  filter: hue-rotate(90deg);
}

.img7 {
  filter: invert(75%);
}

.img8 {
  filter: opacity(25%);
}

.img9 {
  filter: saturate(30%);
}

.img10 {
  filter: sepia(60%);
}

img {
  width: 150px;
  margin: 10px;
}

body {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.caja {
  width: 320px;
  padding: 25px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(98, 236, 18, 0.479);
  text-align: center;
  transition: all 0.3s ease-in-out;
  filter: brightness(1) grayscale(0);
}

.caja:hover {
  filter: brightness(1.1) grayscale(0.2) blur(3px);
  transform: scale(1.03);
}

.caja h2 {
  margin-bottom: 10px;
  color: #222;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.caja p {
  font-size: 16px;
  color: #555;
}

.contenedor {
  border: 4px solid #2c3e50;
  padding: 50px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.interno {
  border: 3px dashed #e74c3c;
  background-color: #fefefe;
  padding: 20px;
}

.parrafo-estilizado {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  color: #e0e5e9be;
  background-color: #0a0a0a6b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  text-shadow: 0.5px 0.5px 0.5px #ccc;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.parrafo-estilizado:hover {
  background-color: #d0eaff;
  color: #1a1a1a;
}

.imagen-blend {
  width: 250px;
  height: auto;
  border: 2px solid #fff;
  border-radius: 10px;
}

.multiply {
  mix-blend-mode: multiply;
}

.screen {
  mix-blend-mode: screen;
}

.overlay {
  mix-blend-mode: overlay;
}

.lighten {
  mix-blend-mode: lighten;
}

.darken {
  mix-blend-mode: darken;
}

.difference {
  mix-blend-mode: difference;
}