* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


 body {
      font-family: sans-serif;
      margin: 0;
      padding: 0;
      background: #f7f7f7;
    }

    .logo-container {
      display: flex;
      justify-content: center;
      gap: 40px;
      padding: 50px;
      background-color: #fff;
    }

    .logo-container a img {
      width: 120px;
      height: auto;
      transition: transform 0.3s;
    }

    .logo-container a:hover img {
      transform: scale(1.1);
    }