* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
/*   margin: 0;  
  background: #f4f4f4; */
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.gallery a img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery a img:hover {
  transform: scale(1.05);
}

/* Barra de navegación */
nav {
  background-color: #333;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  position: relative;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

/* Efecto hover en enlaces */
nav ul li a:hover,
nav ul li a:focus {
  background-color: #575757;
  color: #ffd700;
}

/* Submenú oculto */
nav ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  background: #444;
  min-width: 150px;
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border-radius: 0 0 6px 6px;
}

nav ul li ul li a {
  padding: 10px;
  color: white;
}

nav ul li ul li a:hover {
  background: #666;
}

/* Mostrar submenú al pasar el mouse */
nav ul li:hover ul {
  display: flex;
}